{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Minha Loja Online{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>
    <body>
        <div class="container">
            <header>
                <h1> New House Workshop</h1>
            </header>

            <nav>

    {% if user.is_authenticated %}
        
        <a href="{% url 'lista_imoveis' %}">Imóveis</a>
        <a href="{% url 'lista_corretores' %}">Corretores</a>
        <a href="{% url 'criar_imovel' %}">Novo Imóvel</a>
        <a href="{% url 'criar_corretor' %}">Novo Corretor</a>
        
        
        {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}" class="form-logout">
        {% csrf_token %}
        <button type="submit" class="logout-btn">
            Sair ({{ user.username }})
        </button>
    </form>

{% else %}
    {% endif %}
    {% else %}
        <a href="{% url 'login' %}">Entrar</a>
        <a href="{% url 'register' %}">Registrar</a>
    {% endif %}
    </nav>

            <main>
                {% block conteudo %}{% endblock %}
            </main>

            <footer>
                <p>&copy; 2025 Minha Loja Online. Todos os direitos reservados.</p>
            </footer>
        </div>
    </body>
</html>
    