{% extends 'base.html' %}
{% block conteudo %}
    <h2>Listagem de Corretores</h2>
    <a href="{% url 'criar_corretor' %}"> Novo Corretor</a>
    
    {% if corretores %}
        <div class="imovel-list">
            {% for corretor in corretores %}
                <div class="imovel-card">
                    <h3>{{ corretor.nome }}</h3>
                    <p><strong>CRECI:</strong> {{ corretor.creci }}</p>
                    <p><strong>Telefone:</strong> {{ corretor.telefone }}</p>
                    <a href="{% url 'detalhe_corretor' corretor.id %}">Ver Detalhes</a>
                    <a href="{% url 'editar_corretor' corretor.id %}">Editar</a>
                    <a href="{% url 'deletar_corretor' corretor.id %}">Deletar</a>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
            
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
            {% endif %}
        </div>
    {% else %}
        <p>Não há corretores cadastrados no momento.</p>
    {% endif %}
{% endblock %}
